<div class='bar group'>

  <div class='sign-in container'>

    <h1>fauxbook</h1>

    <form action='<%= login_url %>' method='post'>
      <input type='hidden'
        name='authenticity_token'
        value='<%= form_authenticity_token %>'/>

      <label>Email
        <input type='text' name='user[email]' placeholder='me@example.com' />
      </label>

      <label>Password
        <input type='password' name='user[password]' placeholder='********' />
      </label>

      <input type='submit' value='Log In' />

    </form>
  </div>
</div>

<div class='container group'>

  <div class='splash'>

    <h2>Connect with friends and the world around you on Fauxbook.</h1>
    <ul>
      <li><span><strong>See photos and updates</strong> linked straight from Tumblr.</span></li>
      <li><span><strong>Share what's new</strong> and engage in rational political discourse.</span></li>
      <li><span><strong>Find more</strong> ads featuring that thing you just saw on Amazon.</span></li>
    </ul>
  </div>

  <div class='sign-up'>

    <h1>Sign Up</h1>
    <h2>It's free because you are the product.</h2>

    <form action='<%= signup_url %>' method='post'>
      <input type='hidden'
        name='authenticity_token'
        value='<%= form_authenticity_token %>' />

      <input type='text' class='name-input' name='profile[first_name]' placeholder='First name' />

      <input type='text' class='name-input' name='profile[last_name]' placeholder='Last name' />

      <input type='text' class='sign-up-full-input' name='user[email]' placeholder='Email' />

      <input type='password' class='sign-up-full-input' name='user[password]' placeholder='New Password' />

      <label>Birthday
        <input type='date' class='sign-up-full-input' name='profile[birthday]' />
      </label>

      <input type='radio' name='profile[gender]' value='F'> Female </input>
      <input type='radio' name='profile[gender]' value='M'> Male </input>

      <input type='submit' value='Sign Up' />

    </form>
  </div>
</div>
