.ad-bar-nav {
  top: 0;
  float: right;
  position: absolute;
  margin-left: 820px;
  width: 160px;
  height: auto;
}

.ad-bar__ad {
  border: 1px solid #ccc;
  margin-bottom: 20px;
  padding: 10px;
  background-color: white;
}

.img--ok9 {
  background-image: url(image_path('ok9cupid.jpg'));
}

.img--ave {
  background-image: url(image_path('aveeasy.jpg'));
}

.img--fake {
  background-image: url(image_path('fakebook.jpg'));
}

.img--table {
  background-image: url(image_path('formitable.jpg'));
}

.img--fox {
  background-image: url(image_path('foxnote.jpg'));
}

.img--friend {
  background-image: url(image_path('friendbook.jpg'));
}

.img--ripple {
  background-image: url(image_path('ripple.jpg'));
}

.ad__link__img {
  background-size:contain;
  margin-bottom: 5px;
  width: 140px;
  height: 140px;
}

.ad__header {
  font-weight: bold;
}

.ad__body {
  display: block;
  margin-top: 5px;
  font-size: 12px;
}
