/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 */

body, div, h1, h2, p, input, label {
  padding: 0;
  border: 0;
  margin: 0;
  font: inherit;
  font-family: sans-serif;
  box-sizing: inherit;
  color: inherit;
  text-decoration: none;
  background: transparent;
}

ul {
  list-style-type: none;
}

body {
  background-color: rgb(237, 240, 245);
}

.group:after {
  content: "";
  display: block;
  clear: both;
}

.bar {
  background-color: rgb(58, 87, 149);
  background-image: url(image_path('header_background.png'));
  background-repeat: repeat-x;
  box-shadow: 0 2px 2px -2px rgba(0, 0, 0, .52);
  width: 100%;
}

.sign-in {
  width: 1000px;
  margin: auto;
  color: white;
}

.sign-in h1 {
  float: left;
  padding-top: 25px;
  padding-bottom: 10px;
  font-size: 42px;
  font-weight: bold;
}

.sign-in form {
  float: right;
  padding-top: 20px;
}

.sign-in form label {
  font-size: 12px;
  float: left;
  display: block;
  margin-right: 20px;
}

.sign-in input {
  margin-top: 5px;
  display: block;
  background-color: white;
  padding: 5px;
  color: black;
  border: 1px solid black;
  width: 150px;
}

.sign-in input[type='submit'] {
  width: auto;
  background-color: rgb(91, 116, 168);
  color: white;
  padding: 5px 5px;
  margin-top: 19px;
  font-size: 12px;
  font-weight: bold;
  cursor: pointer;
  border-color: #2f477a #29447e #1a356e;
}

.content {
  width: 1000px;
  margin: auto;
  padding-top: 30px;
}

.splash {
  color: #444;
  float: left;
  width: 500px;
  padding-top: 30px;
}

.sign-up {
  float: right;
  width: 430px;
  color: #444;
}

.splash h2 {
  font-size: 28px;
  font-weight: bold;
}

.splash ul li {
  margin-top: 40px;
  color: #777;
}

.splash strong {
  color: #444;
  font-weight: bold;
  margin-right: 10px;
}

.splash ul li {
  list-style-image: url(image_path('feed.png'));
  position: relative;
  left: 15px;
}

.splash ul li:nth-child(2) {
  list-style-image: url(image_path('share.png'));
}

.splash ul li:nth-child(3) {
  list-style-image: url(image_path('search.png'));
}

.splash span {
  position: absolute;
  top: 10px;
  left: 10px;
}

.sign-up h1 {
  font-size: 36px;
  font-weight: bold;
}

.sign-up h2 {
  padding-top: 10px;
  font-size: 20px;
}

.sign-up input {
  display: block;
}

.sign-up input[type='text'], .sign-up input[type='password'] {
  margin-top: 20px;
  padding: 10px;
  width: 300px;
  background-color: white;
  border: 1px solid rgb(189, 199, 216);
  border-radius: 5px;
  font-size: 24px;
}

.sign-up input[type='submit'] {
  margin-top: 20px;
  color: white;
  background-image: linear-gradient(rgb(103, 174, 85), rgb(87, 136, 67));
  padding: 10px 50px;
  border-radius: 5px;
  border: solid 1px #222;
  text-shadow: rgba(0, 0, 0, 0.498039) 0px 1px 2px;
  cursor: pointer;
}

.sign-up input[type='submit']:hover {
  background-image: linear-gradient(rgb(121, 188, 100), rgb(87, 136, 67));
}
