/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 */

// css reset--------------------------------------------------------------------

body, div, h1, h2, input, p, ul, li, label, table, td, tr {
  padding: 0;
  border: 0;
  margin: 0;
  font: inherit;
  font-family: sans-serif;
  box-sizing: inherit;
  color: inherit;
  text-decoration: none;
  background: transparent;
}

ul {
  list-style-type: none;
}

// clearfix---------------------------------------------------------------------

.group:after {
  content: "";
  display: block;
  clear: both;
}

// fauxbook sitewide styles-----------------------------------------------------

body {
  background-color: rgb(237, 240, 245);
  color: #444;
}

.app {
  margin-top: 78px;
}

.bar {
  background-color: rgb(58, 87, 149);
  background-image: url(image_path('header_background.png'));
  background-repeat: repeat-x;
  box-shadow: 0 2px 2px -2px rgba(0, 0, 0, .52);
  width: 100%;
}

.container {
  width: 1000px;
  margin: auto;
}

.small-blue-button {
  background-color: rgb(91, 116, 168);
  font-size: 12px;
  font-weight: bold;
  cursor: pointer;
  border-color: #2f477a #29447e #1a356e;
  color: white;
}

.transparent {
  opacity: 0.5;
}

// unauthenticated user landing page--------------------------------------------

// -----sign-in bar-----
.guest-login {
  margin-top: 38px;
  margin-left: 30px;
}

.sign-in {
  color: white;
}

.sign-in h1 {
  float: left;
  padding-top: 25px;
  padding-bottom: 10px;
  font-size: 42px;
  font-weight: bold;
}

.sign-in form {
  float: right;
  padding-top: 20px;
}

.sign-in form label {
  font-size: 12px;
  float: left;
  margin-right: 20px;
}

.sign-in input {
  border: 1px solid black;
  padding: 5px;
}

.sign-in input[type='text'], .sign-in input[type='password'] {
  margin-top: 5px;
  display: block;
  background-color: white;
  color: black;
  width: 150px;
}

.sign-in input[type='submit'] {
  background-color: rgb(91, 116, 168);
  margin-top: 19px;
  font-size: 12px;
  font-weight: bold;
  cursor: pointer;
  border-color: #2f477a #29447e #1a356e;
}

// -----splash and signup shared-----

.splash, .sign-up {
  padding-top: 30px;
  color: #444;
}

.splash {
  float: left;
  width: 500px;
}

.sign-up {
  float: right;
  width: 430px;
}

// -----splash-----

.splash h2 {
  font-size: 28px;
  font-weight: bold;
}

.splash ul li {
  margin-top: 40px;
  color: #777;
}

.splash strong {
  color: #444;
  font-weight: bold;
  margin-right: 10px;
}

.splash ul li {
  list-style-image: url(image_path('feed.png'));
  position: relative;
  left: 55px;
}

.splash ul li:nth-child(2) {
  list-style-image: url(image_path('share.png'));
}

.splash ul li:nth-child(3) {
  list-style-image: url(image_path('search.png'));
}

.splash span:first-child {
  position: absolute;
  top: 10px;
  left: 10px;
}

// -----sign-up-----

.sign-up h1 {
  font-size: 36px;
  font-weight: bold;
}

.sign-up h2 {
  padding-top: 10px;
  font-size: 20px;
}

.sign-up input {
  display: block;
  margin-top: 20px;
}

.sign-up-full-input, .name-input {
  padding: 10px;
  width: 300px;
  background-color: white;
  border: 1px solid rgb(189, 199, 216);
  font-size: 24px;
  margin-bottom: 20px;
}

.sign-up input[type='submit'] {
  color: white;
  background-image: linear-gradient(rgb(103, 174, 85), rgb(87, 136, 67));
  padding: 10px 50px;
  border: solid 1px #222;
  text-shadow: rgba(0, 0, 0, 0.498039) 0px 1px 2px;
  cursor: pointer;
}

.name-input {
  width: 130px;
  float: left;
  margin-right: 18px;
  margin-bottom: 20px;
}

.sign-up input[type='submit']:hover {
  background-image: linear-gradient(rgb(121, 188, 100), rgb(87, 136, 67));
}

.sign-up input[type='radio'] {
  display: inline;
  margin-top: 0px;
  margin-right: 5px;
  margin-left: 20px;
}

.sign-up #female {
  margin-left: 0px;
}
// main-app-styles--------------------------------------------------------------

.top-bar {
  position: fixed;
  top: 0;
  z-index: 9001; /* it's over 9000 */
}

.log-out-button {
  margin: 10px;
  right: 10px;
  border: 0;
  position: absolute;
  padding: 10px;
  background-color: #eee;
  font-weight: bold;
  cursor: pointer;
}

.red-circle {
  border: 0;
  border-radius: 50%;
  background-color: red;
  width: 20px;
  height: 20px;
  color: white;
  font-weight: bold;
  font-size: 14px;
}

.info-bubble {
  display: inline;
  position: absolute;
  top: 17px;
}

.notification-tool-container {
  right: 98px;
}

.unseen-notification {
  background-color: #faa;
}

.friend-request-tool-container {
  right: 128px;
}

.user-name {
  position: relative;
  color: white;
  font-weight: bold;
  font-size: 14px;
  position: absolute;
  right: 176px;
  top: 20px;
}

.app-logo > .profile-thumb-container {
  width: 40px;
  height: 40px;
  position: absolute;
  right: 213px;
  overflow: hidden;
  top: 8px;
}

.info-button {
  cursor: pointer;
  border: 0;
  width: 20px;
  height: 20px;
  color: white;
  border: 0;
  border-radius: 50%;
  box-shadow: 0 3px 8px rgba(0, 0, 0, .25);
}

.friend-request-index {
  position: absolute;
  right: 0;
  top: 41px;
  background-color: white;
  border: 1px solid #ccc;
  width: 400px;
  z-index: 11;
  box-shadow: 0 3px 8px rgba(0, 0, 0, .25);
}

.friend-request-index button {
  border: 1px solid #ccc;
  background-color: #eee;
  margin-right: 10px;
  padding: 5px;
  width: 60px;
  margin-top: 12px;
}

.friend-request-index button:hover {
  cursor: pointer;
  background-color: #ddd;
}

.friend-request-index li {
  width: 390px;
  display: block;
  border-bottom: 1px solid #ccc;
  padding: 5px;
}

.friend-request-index a {
  margin-right: 34px;
  text-decoration: none;
}

.friend-request-index a:hover {
  text-decoration: underline;
}

.friend-request-index li:last-child {
  border-bottom: 0;
}

.notification-index li a {
  font-size: 14px;
  display: inline-block;
  text-decoration: none;
  margin-right: 10px;
  color: rgb(91, 116, 168);
}

.notification-index li > a:nth-child(2) {
  position: relative;
  top: 8px;
  height: 50px;
  width: 330px;
  margin-right: 0px;
}

.notification-time {
  color: #777;
  display: block;
}

.notification-time span {
  text-decoration: none;
}

.app-logo h1 {
  cursor: pointer;
  font-size: 24px;
  font-weight: bold;
  color: white;
  float: left;
  margin: 15px 10px;
}

.search-bar {
  background-color: white;
  border: solid 1px #ccc;
  margin-top: 15px;
  margin-left: 40px;
  font-size: 14px;
  padding: 5px;
  width: 250px;
  outline: 0;
}

.search-container {
  display: inline;
}

.search-results {
  position: absolute;
  z-index: 4;
  background-color: white;
  border: 1px solid #ccc;
  left: 167px;
  top: 39px;
  width: 260px;
  border-radius: 0 0 10px 10px;
  border-top: 0;
  overflow: hidden;
}
.search-results li {
  padding: 0 5px 5px 5px;
}

.search-results li:hover {
  background-color: #ddd;
}

.search-result-user-name {
  padding: 15px 15px 0 15px;
  display: block;
  color: black;
  text-decoration: none;
  font-size: 14px;
}

.search-result-location {
  color: #bbb;
}

.friend-button {
  cursor: pointer;
  padding: 5px 0;
  font-weight: bold;
  float: right;
  width: 120px
}

.profile-header .friend-button {
  margin-left: 546px;
  position: relative;
  top: -90px;
  right: 15px;
}

// feed-------------------------------------------------------------------------

.feed {
  width:  60%;
  margin-top: 20px;
}

// profile-display-header-------------------------------------------------------

.profile-nav {
  position: absolute;
  background-color: white;
  width: 100%;
  height: 50px;
  bottom: 0;
  padding-left: 225px;
  box-sizing: border-box;
}

.profile-nav > a {
  display: inline-block;
  height: 50px;
  padding: 18px 30px 0 30px;
  vertical-align: center;
}

.profile-nav > a:hover {
  background-color: #eee;
}

.profile-nav-tab {
  border-left: solid 1px #ccc;
  text-decoration: none;
  color: rgb(58, 87, 149);
  font-weight: bold;
}

.profile-nav-tab:last-child {
  border-right: solid 1px #ccc;
}

.profile-nav-active-tab {
  color: black;
}

.profile-header {
  margin-top: 20px;
  background-color: white;
  border: 1px solid #ccc;
  height: 400px;
  overflow: hidden;
  position: relative;
}

.profile-header > h1 {
  position:relative;
  top: -90px;
  left: 195px;
  color: white;
  font-size: 24px;
  z-index: 2;
  display: inline;
}

.header-image-container {
  box-sizing: border-box;
  width: 100%;
  height: 100%;
}

.header-image {
  position: relative;
  width: 100%;
  height: auto;
  background-color: black;
  top: -50%;
}

.profile-picture {
  bottom: 10px;
  left: 10px;
  position: absolute;
  background-color: white;
  width: 150px;
  height: 150px;
  border: 1px solid #ccc;
  z-index: 2;
  padding: 10px;
}

.profile-picture-container {
  width: 150px;
  height: 150px;
  overflow: hidden;
}

.profile-picture-container img {
  width: 100%;
  height: auto;
  display: block;
}

.profile-picture-upload {
  position: absolute;
  bottom: 10px;
  width: 130px;
  background-color: black;
  opacity: 0;
  padding: 10px;
  z-index: 3;
}

.profile-picture-upload:hover, .profile-picture:hover .profile-picture-upload {
  cursor: pointer;
  opacity: .6;
}

.upload-prompt {
  color: white;
  font-size: 12px;
  font-weight: bold;
  text-align: left;
}

.header-picture-upload {
  position: absolute;
  top: 0px;
  width: 100%;
  background-color: black;
  opacity: 0;
  padding: 20px;
  z-index: 1;
  text-align: right;
}

.header-picture-upload:hover, .header-image-container:hover .header-picture-upload {
  cursor: pointer;
  opacity: .6;
  z-index: 1;
}

.header-image-container:hover .header-picture-upload:not(:hover) {
  opacity: .2;
}

.profile-picture-upload:hover, .profile-picture:hover .profile-picture-upload {
  cursor: pointer;
  opacity: .6;
}

.profile-picture:hover .profile-picture-upload:not(:hover) {
  opacity: .2;
}

// friends-list-----------------------------------------------------------------

.friends-list {
  padding: 10px 10px 0 0;
  background-color: white;
  border: 1px solid #ccc;
  margin-top: 20px;
}

.friend-item {
  margin-bottom: 10px;
  padding: 10px;
  width: 49%;
  box-sizing: border-box;
  border: 1px solid #ccc;
  float: left;
  margin-left: 1%;
}

.friend-item a {
  color: (58, 87, 149);
  text-decoration: none;
}

.friend-item .profile-thumb-container {
  overflow: hidden;
}

.friend-item .friend-button {

}

.friend-item .friend-location {
  color: #777;
  font-size: 14px;
}

// post-index-------------------------------------------------------------------

// -----post-form-----

.post-form {
  background-color: white;
  border: 1px solid #ccc;
  margin-bottom: 20px;
  padding: 10px;
}

.post-photo-preview {
  height: 200px;
  text-align: center;
  padding: 10px;
  border: solid 1px #ccc;
}

.post-form-nav {
  padding-bottom: 5px;
  margin-bottom: 10px;
  border-bottom: solid 1px #ccc;
}

.post-form-nav span, .post-form-image-upload {
  display: inline;
  font-size: 12px;
  color: rgb(58, 87, 149);
  font-weight: bold;
}

.post-form-image-upload {
  margin-left: 20px;
  cursor: pointer;
}

.post-form-input {
  display: inline;
  border: 0;
  font-size: 14px;
  float: right;
  width: 510px;
  font-family: sans-serif;
}

.post-form-submit-container {
  margin-top: 10px;
  padding-top: 10px;
  border-top: solid 1px #ccc;
}

.post-form-submit-button {
  float: right;
  color: white;
  background-color: rgb(91, 116, 168);
  font-size: 14px;
  font-weight: bold;
  cursor: pointer;
  border-color: #2f477a #29447e #1a356e;
}

// -----posts-----
.post-index {
  margin-top: 20px;
  width: 60%;
  margin: 20px auto;
}

.post {
  background-color: white;
  border: solid 1px #ccc;
  margin-bottom: 20px;
}

.post > p {
  margin: 10px 10px 10px 10px;
}

.post-author, .post-receiver {
  vertical-align: top;
  color: rgb(58, 87, 149);
  font-weight: bold;
  display: block;
}

.post-author-info > a {
  text-decoration: none;
  display: inline-block;
  position: relative;
  margin: 10px 0px 0px 10px;
}

.post-receiver-link {
  margin-left: 15px;
}

.post-receiver-link:before {
  content: '';
  font-size: 0;
  width: 0;
  height: 0;
  padding: 0;
  position: absolute;
  top: 2px;
  left: -10px;
  border: 6px solid transparent;
  border-left: 6px solid #bbb;
  margin-left: 8px;
}

.post-receiver-link span {
  margin-left: 10px;
}

.post-date {
  display: block;
  color: #bbb;
  font-size: 14px;
  position: relative;
  left: 10px;
}

.profile-thumb-container {
  float: left;
  display: inline-block;
  width: 50px;
  height: 50px;
  overflow: hidden;
  margin-right: 10px;
}

.profile-thumb {
  width: 100%;
  height: auto;
}

.post-photo-container {
  margin-top: 10px;
  padding: 10px;
  position: relative;
}

.post-photo {
  width: 100%;
  height: auto;
}

.post-delete-button {
  float: right;
  border: 0;
  margin: 0 20px 10px 0;
}

.post-edit-form {
}

// comments---------------------------------------------------------------------

// -----comment-index-----

.comment-index {
  border-top: 1px solid #ccc;
  background-color: #eee;
  padding: 10px 10px 0 10px;
}

// -----comment-items-----

.comment-container {
  position: relative;
  padding-bottom: 10px;
  padding-left: 50px;
  min-height: 40px;
}

.comment-container .profile-thumb-container {
  position: absolute;
  left: 0px;
  width: 40px;
  height: 40px;
  overflow: hidden;
}

.comment-author {
  font-weight: bold;
  font-size: 14px;
  color: rgb(58, 87, 149);
  text-decoration: none;
  margin-right: 5px;
}

.comment-author:hover {
  text-decoration: underline;
}

.comment-body {
  width: 529px;
  word-wrap: break-word;
  font-size: 14px;
  margin-right: 5px;
}

.comment-date {
  color: #ccc;
  font-size: 12px;
}

.comment-main-section {
  padding-bottom: 10px;
  padding-right: 10px;
}

.comment-main-section:hover {
}
// -----comment-forms-----

.post-comment-form {
  border-top: 1px solid #ccc;
  background-color: #eee;
}

.post-comment-form .profile-thumb-container {
  margin: 10px;
  width: 40px;
  height: 40px;
  overflow: hidden;
}

.post-comment-form input, .post-sub-comment-form input {
  background-color: white;
  padding: 5px;
  width: 517px;
  margin-top: 10px;
  font-size: 14px;
}

// -----comment-delete-----

.comment-delete-button {
  cursor: pointer;
  float: right;
  border: 0;
}

// sub-comments-----------------------------------------------------------------

.sub-comment-index {
  background-color: #eee;
  padding: 20px 10px 0 10px;
  border-left: 2px solid #ccc;
}

.post-sub-comment-form input {
  width: 300px;
  position: relative;
  top: -10px;
  left: 39px;
  font-size: 12px;
  padding: 5px;
}

.post-sub-comment-form .profile-thumb-container {
  width: 30px;
  height: 30px;
  overflow: hidden;
  float: none;
  margin-left: 50px;
}

.reply-button {
  cursor: pointer;
  border: 0;
  background-color: transparent;
  color: rgb(58, 87, 149);
  font-weight: bold;
}

.sub-comment-container {
  margin-bottom: 20px;
  padding-left: 40px;
  position: relative;
  top: -10px;
}

.sub-comment-container > a {
  color: rgb(58, 87, 149);
  text-decoration: none;
  font-size: 14px;
  font-weight: bold;
  display: inline-block;
}

.sub-comment-author {
  border: 0;
  position: relative;
  margin-right: 5px;
}

.sub-comment-author:hover {
  text-decoration: underline;
}

.sub-comment-body {
  font-size: 14px;
  margin-right: 5px;
  word-wrap: break-word;
}

.sub-comment-delete-button {
  cursor: pointer;
  border: 0;
  float: right;
}

.sub-comment-container .profile-thumb-container {
  width: 30px;
  height: 30px;
  overflow: hidden;
}


// about-profile-display--------------------------------------------------------

// -----standard-display-----

.about-profile-display {
  background-color: #fff;
  margin-top: 20px;
  width: 100%;
  border: 1px solid #ccc;
  border-radius: 3px;
}

.about-profile-display header {
  background-color: #efefef;
  padding: 20px;
  font-size: 24px;
  font-weight: bold;
  border-bottom: 1px solid #ccc;
}

.about-profile-information {
  padding: 20px;
}

.about-section-header {
  text-transform: uppercase;
  font-weight: bold;
  font-size: 12px;
  margin-bottom: 10px;
}

.about-section-attribute {
  border-top: 1px solid #ccc;
  width: 600px;
  padding: 10px 0;
}

.about-section-attribute button {
  display: none;
}

.about-section-attribute:hover button {
  display: inline;
  padding: 0;
  border: 0;
  background-color: white;
  color: rgb(58, 87, 149);
  font-size: 14px;
  float: right;
  margin-right: 20px;
  cursor: pointer;
  font-weight: bold;
}

.table-cell {
  display: inline-block;
  width: 200px;
}

.about-data {
  font-weight: bold;
}

.about-tag {
  text-transform: capitalize;
}

// -----editing-form-----

.edit-attr-form {
  margin-top: 10px;
  background-color: rgb(237, 240, 245);
  padding: 20px;
}

.edit-attr-form input[type='submit'] {
  display: inline-block;
  float: right;
  color: rgb(58, 87, 149);
  cursor: pointer;
  font-weight: bold;
}

.edit-attr-form input[type='text'] {
  background-color: white;
  border: 1px solid #ccc;
  width: 200px;
  padding: 5px;
}

.edit-date-input {
  background-color: white;
  border: solid 1px #ccc;
}

// likes------------------------------------------------------------------------

.like-index {
  color: rgb(58, 87, 149);
  font-size: 12px;
  font-weight: bold;
  display: inline-block;
}

.post > .like-index {
  font-size: 14px;
  margin-left: 10px;
  margin-bottom: 10px;
}

.sub-comment-container > .like-index {
  display: block;
}

.liked, .like-index > a:hover {
  color: rgb(78, 97, 250);
}

.like-index > a:hover {
  cursor: pointer;
  text-decoration: underline;
}

.like-index > span {
  margin-left: 5px;
}
