/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 */

body, div, h1, p, input, label {
  padding: 0;
  border: 0;
  margin: 0;
  font: inherit;
  font-family: sans-serif;
  box-sizing: inherit;
  color: inherit;
  text-decoration: none;
  background: transparent;
}

body {
  background-color: rgb(237, 240, 245);
}

.group:after {
  content: "";
  display: block;
  clear: both;
}

.bar {
  background-color: rgb(58, 87, 149);
  background-image: url(image_path('header_background.png'));
  background-repeat: repeat-x;
  box-shadow: 0 2px 2px -2px rgba(0, 0, 0, .52);
  width: 100%;
}

.sign-up {
  width: 1000px;
  margin: auto;
  color: white;
}

.sign-up h1 {
  float: left;
  padding-top: 25px;
  padding-bottom: 10px;
  font-size: 42px;
  font-weight: bold;
}

.sign-up form {
  float: right;
  padding-top: 20px;
}

.sign-up form label {
  font-size: 12px;
  float: left;
  display: block;
  margin-right: 20px;
}

.sign-up input {
  margin-top: 5px;
  display: block;
  background-color: white;
  padding: 5px;
  color: black;
  border: 1px solid black;
  width: 150px;
}

.sign-up input[type='submit'] {
  width: auto;
  background-color: rgb(91, 116, 168);
  color: white;
  padding: 5px 5px;
  margin-top: 19px;
  font-size: 12px;
  font-weight: bold;
  cursor: pointer;
  border-color: #2f477a #29447e #1a356e;
}
