// error-bar--------------------------------------------------------------------

.error-bar {
  position: fixed;
  padding: 20px 20px 40px 40px;
  width: 33%;
  bottom: 20%;
  left: 0;
  right: 0;
  background-color: #BE1B38;
  color: white;
  font-weight: bold;
  z-index: 9001;
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
}

.error-bar__error-list {
}

.error-list__list-item {
  font-size: 24px;
  margin-bottom: 10px;
}
