// error-bar--------------------------------------------------------------------

.error-bar {
  position: fixed;
  padding: 20px;
  width: 33%;
  bottom: 20%;
  left: 0;
  right: 0;
  background-color: #BE1B38;
  color: white;
  font-weight: bold;
  z-index: 9001;
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
}

.error-bar__error-list {
  list-style-type: disc;
  margin-top: 20px;
  padding-left: 40px;
}

.error-list__list-item {
  font-size: 16px;
  padding-bottom: 10px;
}

.error-quote__author {
  margin-top: 10px;
  font-style: italic;
}

.error-quote__quote {
  font-size: 24px;
}
